<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>添加</h1>
<form action="listadd" method="post" >
    接口名称：<input type="text" name="name" id="name" style="width:200px;" /><br />
    内容：<textarea rows="30" cols="80" name="content" id="content" ></textarea> <br />
    <input type="submit" name="addsubmit" id="addsubmit" value="提交" />
</form>

</body>
</html>
